/*-------------------------------------------
header
-------------------------------------------*/

header {
    font-family: "Nico Moji";
}


/*-------------------------------------------
main
-------------------------------------------*/

main {
    font-family: "Nico Moji";
}

h1 {
    padding: 40px 0px 10px 50px;
}

span {
    color: dodgerblue;
    font-family: 'Yusei Magic', sans-serif;
}

textarea {
    box-sizing: border-box;
    text-align: center;
    width: 800px;
    height: 330px;
    background: #E4F3FF;
    border: 1px solid #008DFF;
    border-radius: 30px;
}


/*-------------------------------------------
footer
-------------------------------------------*/

footer {
    margin-top: 20px;
    height: 115px;
    background-color: #FFE3AC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nico Moji";
}

footer a {
    color: #24292e;
    font-size: 32px;
}